html {
    position: relative;
    min-height: 100%;
}

body {
    vertical-align: middle;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Fira Sans';
}

a {
    text-decoration: none;
}

.centered {
    text-align: center;
    margin: 0 auto;
    width: auto;
    max-width: 480px;
}

.strike {
    text-decoration: line-through;
}

.container {
    width: auto;
    max-width: 660px;
    padding: 0 15px;
}
